:root {
  --font-base: 'Overpass', sans-serif;
  --font-brand: "Croissant One", serif;

  --color-text: #171717;
  --color-bg: #f5f4f1;
  --color-bg-translucent: rgba(255,255,255,0.7);
  --color-muted: #5f5b56;
  --color-border: rgba(23, 23, 23, 0.1);
  --color-accent1: #e782a9;
  --color-accent2: #b42e5b;
  --color-accent3: #e6a121;
}