@import '../_variables.css';

.card-row {
  --columns: 3;

  display: grid;
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
  gap: 18px;
  margin-top: 18px;
  margin-bottom: 18px;

  @media (max-width: 920px) {
    grid-template-columns: 1fr;
  }

  div {
    background: var(--color-surface3);
    border: 1px solid var(--color-surface2);
    border-radius: 8px;
    padding: 18px;
    gap: 8px;
    box-shadow: var(--shadow);

    p {
      color: var(--color-muted);
      line-height: 1.5;
      font-size: 1rem;
      margin-top: 4px;
      margin-bottom: 4px;
    }
  }
} 