---
allLang:
  - en
  - pt
---

<!DOCTYPE html>

<html lang="{{ lang }}" dir="{{ dir }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ metaTitle }}{{ ' | ' if metaTitle }}{{ metadata.title }}</title>
    <meta
      name="description"
      content="{{ metadata.description }}"
    />

    <link rel="stylesheet" href="/styles/bundle.css">

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Croissant+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <div id="base-wrapper">
      <header class="site-header">
        <a class="brand" href="{{ '/' | keepLang }}">Lari Toschi</a>

        <nav class="site-nav" aria-label="Primary navigation">
          {% for item in navigation %}
            <a href="{{ item.url | keepLang }}" class="link-nav {{ "active" if header == item.id }}">{{ ['header.nav.', item.id] | join | t }}</a>
          {% endfor %}

          <div class="lang-switcher" aria-label="Language switcher">
            {% for l in allLang %}
              {% if lang == l %}
                <span class="link-lang active" aria-label="{{ l }}">{{ l }}</span>
              {% else %}
                <a href="{{ page.url | switchLang }}" class="link-lang" aria-label="{{ l }}">
                  {{ l }}
                </a>
              {% endif %}
            {% endfor %}
          </div>
        </nav>
      </header>

      <main>
        {{ content | safe }}
      </main>
    </div>
  </body>
</html>